<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net452" />
  <package id="Serilog" version="2.4.0-dev-00750" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="2.1.0-dev-00034" targetFramework="net452" />
</packages>