<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="NuGet.Common" version="3.4.3" targetFramework="net461" />
  <package id="NuGet.ContentModel" version="3.4.3" targetFramework="net461" />
  <package id="NuGet.Core" version="2.12.0" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="3.4.3" targetFramework="net461" />
  <package id="NuGet.Logging" version="3.4.3" targetFramework="net461" />
  <package id="NuGet.Packaging" version="3.4.3" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="3.4.3" targetFramework="net461" />
  <package id="NuGet.Packaging.Core.Types" version="3.4.3" targetFramework="net461" />
  <package id="NuGet.Repositories" version="3.4.3" targetFramework="net461" />
  <package id="NuGet.RuntimeModel" version="3.4.3" targetFramework="net461" />
  <package id="NuGet.Versioning" version="3.4.3" targetFramework="net461" />
  <package id="Serilog" version="2.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Serilog.Sinks.Literate" version="2.0.0" targetFramework="net461" />
  <package id="StructureMap" version="4.4.2" targetFramework="net461" />
  <package id="YamlDotNet" version="4.0.0" targetFramework="net452" />
</packages>